@model List<GetProductViewModel>

<h1 class="text-center">Production</h1>
<div class="d-flex mt-5 mb-5 justify-content-between">
    @*<a class="btn btn-outline-primary" asp-action="AddProduct" role="button"><i class="fa-solid fa-plus fas"></i>Add Product</a>*@
    <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#addProduct" data-url="@Url.Action("Product/AddProduct")">Add Product</button>
</div>

<table class="table table-striped indextable">
    <thead>
        <tr>
            <th scope="col">ProductPhoto </th>
            <th scope="col">ProductId </th>
            <th scope="col">ProductName</th>
            <th scope="col">CategoryName</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">CreatedDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @foreach (var photo in item.Photos)
                    {
                        if (photo.IsMain == true)
                        {
                            <img style="width:100%; height:80px;" src='@Url.Content("~/img/" + photo.PhotoURL)' />
                        }
                    }
                </td>
                <td scope="row">@item.Id</td>
                <td scope="row">@item.ProductName</td>
                <td scope="row">@item.CategoryName</td>
                <td scope="row">@item.Description</td>
                <td scope="row">@item.Quantity</td>
                <td scope="row">@item.Price</td>
                <td scope="row">@item.CreatedDate</td>
                <td scope="row"><button type="submit" class="btn btn-outline-primary" style="margin-right: 10px" onclick="location.href='@Url.Action("UpdateProduct", "Product", new { productId = item.Id })'"><i class="fa-solid fa-pen fas p-0"></i></button></td>
                <td scope="row"><button type="submit" class="btn btn-outline-danger" onclick="location.href='@Url.Action("RemoveProduct", "Product", new { productId = item.Id })'"><i class="fa-solid fa-trash fas p-0"></i></button></td>
                @*<td scope="row"><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash fas p-0"></i></button></td>*@
            </tr>
        }
@*        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">You want delete this product?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        @*<button type="submit" class="btn btn-danger" onclick="location.href='@Url.Action("RemoveProduct", "Product", new { productId = })'">Remove</button>*@
 @*                   </div>
                </div>
            </div>
        </div>*@
    </tbody>
</table>

@*<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
    </button>*@