@model List<GetProductViewModel>

<h1 class="text-center">Production</h1>
<div class="d-flex mt-5 mb-5 justify-content-between">
    <a class="btn btn-outline-primary" asp-action="AddProduct" role="button">Add Product</a>
</div>

<table class="table table-striped indextable">
    <thead>
        <tr>
            <th scope="col">ProductPhoto </th>
            <th scope="col">ProductId </th>
            <th scope="col">ProductName</th>
            <th scope="col">CategoryName</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">CreatedDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    <img style='width:80px; height:60px;' src='@Url.Content("~/img/" + item.Photos.FirstOrDefault())' />
                </td>
                <td scope="row">@item.Id</td>
                <td scope="row">@item.ProductName</td>
                <td scope="row">@item.CategoryName</td>
                <td scope="row">@item.Description</td>
                <td scope="row">@item.Quantity</td>
                <td scope="row">@item.Price</td>
                <td scope="row">@item.CreatedDate</td>
                <td scope="row"><button type="submit" class="btn btn-outline-primary" style="margin-right: 10px" onclick="location.href='@Url.Action("UpdateProduct", "Product", new { productId = item.Id })'">Update</button></td>
                <td scope="row"><button type="submit" class="btn btn-outline-danger" onclick="location.href='@Url.Action("RemoveProduct", "Product", new { productId = item.Id })'">Remove</button></td>
            </tr>
        }
    </tbody>
</table>
