@model UpdateProductViewModel

<h2 class="text-center mb-5">Update Product</h2>

<div id="carouselExampleCaptions" class="carousel slide row m-auto col-7" data-bs-ride="carousel">
    <div class="carousel-indicators m-auto">
        @for (int i = 0; i < Model.Photos.Count; i++)
        {
            if (i == 0)
            {
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i" class="active"></button>
                continue;
            }
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i" class=""></button>
        }
    </div>

    <div class="carousel-inner">
            
        @{
            int mainPhotoId = Model.Photos.SingleOrDefault(p => p.IsMain == true).Id;
        }

        @foreach (var photo in Model.Photos)
        {
            string activeItem = photo.IsMain == true ? "active" : "";

            <div class="carousel-item @activeItem">

                <img src='@Url.Content("~/img/" + photo.PhotoURL)' class="d-block w-100" style="width: 400pc; height: 400px;">
                <div class="pt-2" style="width:100%;">
                    <button type="submit" class="btn btn-outline-danger" style="float:right;" onclick="location.href='@Url.Action("DeletePhoto", "Photo", new { photoName = photo.PhotoURL })'">Remove</button>
                    @if (!photo.IsMain)
                    {
                        <button type="submit" class="btn btn-outline-primary" style="float:right; margin-right:5px;" onclick="window.location='@Url.Action("UpdateMainPhoto", "Photo", new { photoId = photo.Id, mainPhotoId = mainPhotoId })'">Make the main</button>
                    }
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="margin-bottom:10%;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="margin-bottom:10%;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<form class="row pt-5 m-auto mb-5 col-5" asp-action="UpdateProduct" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" class="form-control" asp-for="Id">
    <input type="hidden" class="form-control" asp-for="CreatedDate">
    <input type="hidden" class="form-control" asp-for="Photos">
    <div class="mb-3">
        <label for="inputProductName" class="form-label">ProductName</label>
        <input type="text" class="form-control" asp-for="ProductName">
        <span asp-validation-for="ProductName"></span>
    </div>
    <div class="mb-3">
        <label for="inputDescription" class="form-label">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label for="inputCategory" class="form-label">Category</label>
        <select class="form-select" asp-for="CategoryId" asp-items="@Model.Categories"></select>
        <span asp-validation-for="CategoryId"></span>
    </div>
    <div class="mb-3">
        <label for="inputPrice" class="form-label">Price</label>
        <input type="number" min="0.00" max="1000000.00" step="0.01" class="form-control" asp-for="Price">
        <span asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label for="inputQuantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" asp-for="Quantity">
        <span asp-validation-for="Quantity"></span>
    </div>
    <div class="col-12 mb-5">
        <label for="formFileMultiple" class="form-label">Add Product Photo</label>
        <input class="form-control" type="file" multiple="multiple" accept="image/*" asp-for="Files">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("GetProducts", "Product")'">Cansel</button>
    </div>
</form>
